#about {
    background: url(images/conc2.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 44px 2px rgba(0, 0, 0, 0.75);


}

.section-about {

    display: grid;
    grid-template: 1fr / 1fr;
    max-width: 1300px;
    margin: auto;
    height: min-content;


    @media all and (min-width: 875px) {
        position: relative;
        grid-template: none / 500px 1fr;
        height: 420px;

    }


}

.about__hero {
    display: none;
    position: absolute;
    top: -50%;
    background: url(images/hero7.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 850px;
    width: 550px;

    @media all and (min-width: 875px) {

        display: block;


    }
}

.about__content {
    justify-self: center;
    align-self: center;
    width: 350px;
    color: darken($color: #fff, $amount: 10);
    padding: 2rem 0;

    @media all and (min-width: 875px) {
        justify-self: left;
        grid-column: 2 / 3;
        width: 507px;

    }


    h1 {
        // text-align: left;
        margin-bottom: 2rem;

        @media all and (min-width: 875px) { text-align: right}
    }

}