.section-music {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    

    &__player {
        background-color: red;
    }

    &__content {

        p{
        font-weight: 700;
        font-size: 70rem;            
        }

    }
}

