.section-music {
    margin: auto;
    max-width: 1300px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    grid-gap: 1rem;
   
    

    &__player {
        justify-self: end;
        
    }

    &__content {
        display: grid;
        justify-self: start;
        width: 350px;
        
    }
}

