.section-shows {
    margin: auto;
    padding: 2rem 0 5rem 0;
    max-width: 1300px;
    height: min-content;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: repeat(2, 150px);
    grid-gap: 1rem;
    place-content: center;
    
    @media all and (min-width: 500px) {
        grid-template-columns: repeat(2, 200px);
        grid-gap: 1.5rem;

    }
   

}

.shows__title {

    grid-column: 1 / 3;
    place-self: center;
    
}

.card__container {
    // grid-row: 2 / 3;
    transition: transform 0.3s;
    justify-self: center;

    &:hover {
        transform: translate(3px, -10px);

    }
}


.card {
    
    // grid-row: 2 / 3;
    justify-self: center;
    height: 225px;
    width: 150px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    @media all and (min-width: 500px) {
        width: 200px;
        height: 300px;

    }
    

    &:hover {
        box-shadow: -2px 3px 4px rgba(0, 0, 0, 0.05);

    }

  


    h1 {
        color: rgb(255, 198, 132);
        font-weight: 700;  
        font-size: 1.4rem;  
        font-family: Roboto;
        cursor: default;
        padding: 20px 0;

        @media all and (min-width: 500px) {
            font-size: 1.7rem;
    
        }



        span {
            font-family: Roboto;
            color: tomato;


        }
      }
      h2 {
          border-top: 1px solid;
          border-bottom: 1px solid;
          padding: 1rem 0;
          font-size: 0.8rem;
          cursor: pointer;

          @media all and (min-width: 500px) {
            font-size: 1.1rem;
    
        }
      }
    
    
}

// .card:hover {
//     transform: scale(1.1);
// }



.card__top {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        cursor: default;
    }
    
}

.card__mid {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}

.card__bot {

    background-color: darken($color: #fff, $amount: 3);
    clip-path: polygon(0 40%, 100% 10%, 100% 100%, 0 100%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    i {
        color: black;
        opacity: 0.6;
        align-self: end;
        justify-self: center;
        padding-bottom: 1rem;
        cursor: pointer;
        font-size: 1.1rem;

        &:hover {
            opacity: 1;
        }
    }


}
