#videos {
    background: url(images/stripes-light.png);
    background-attachment: fixed;
}

.section-videos {
    max-width: 1300px;
    height: 550px;
    background-attachment: fixed;
    display: grid;
    margin: auto;

}