footer {
    height: 250px;
    display: grid;
    grid-template-rows: 100px 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: #fff;

    h1 {
        place-self: center;
        font-size: 3rem;
    }


}

.footer__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    i {
        display: grid;
        place-content: center;
        height: 50px;
        width: 50px;
        margin: 5px;
        border-radius: 50%;
        color: white;
        background-color: darken($color: #fff, $amount: 7);
        -webkit-transition: background-color 0.4s;
        transition: background-color 0.4s;
    }

    i:hover {
        background-color: black;
    }
}