footer {
    height: 250px;
    display: grid;
    grid-template-rows: 100px 100px;
    justify-content: center;
    align-content: center;

    h1 {
        place-self: center;
        font-size: 3rem;
    }


}

.footer__media {
    display: flex;
    justify-content: space-between;

    i {
        display: grid;
        place-content: center;
        height: 50px;
        width: 50px;
        margin: 5px;
        border-radius: 50%;
        color: white;
        background-color: darken($color: #fff, $amount: 7);
        transition: background-color 0.4s;
    }

    i:hover {
        background-color: black;
    }
}