.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 3%;
    right: 3%;

    &__item {
        display: flex;
        justify-content: flex-end;
        padding: 5px;
        font-weight: 700;
        
        transform: translateX(150px);
        transition: all 0.3s;
        color: black;
        
        visibility: hidden;

    }

    &__item:hover {
        text-transform: uppercase;
    }
}


.black {
    transform: translateX(0px);
    transition: all 0.5s;
    visibility: visible;
}



