@import './styles/wrapper';
@import './styles/var';
@import './styles/header';
@import './styles/section';
@import './styles/nav';
@import './styles/footer';
@import './styles/sections/music';


* {
    box-sizing: border-box;
    margin:  0;
    font-family: 'Major Mono Display', monospace;

}

body {
    margin: 0;
}

a {
    text-decoration: none;  
}