@import './styles/wrapper';
@import './styles/var';
@import './styles/header';
@import './styles/section';
@import './styles/nav';
@import './styles/carousel';
@import './styles/grid-gallery';

* {
    box-sizing: border-box;
    margin:  0;
    font-family: 'Major Mono Display', monospace;

}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #1A2225;
    
}