@import './styles/var';
@import './styles/header';
@import 'node_modules/normalize-scss/sass/normalize.scss';
@import './styles/section';
@import './styles/nav';
@import './styles/footer';
@import './styles/button';
@import './styles/sections/music';
@import './styles/sections/videos';
@import './styles/sections/shows';
@import './styles/sections/about';


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin:  0;
    font-family: 'Major Mono Display', monospace;
    scroll-behavior: smooth;

}

body {
    margin: 0;
    
}

a {
    text-decoration: none;  
}


